@font-face {
  font-family: Inter;
  src:
    url(../assets/fonts/static/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url(../assets/fonts/static/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url(../assets/fonts/static/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
  --White: hsl(0, 0%, 100%);
  --Green: hsl(75, 94%, 57%);
  --text-preset-1: 800 24px/150% "Inter", sans-serif;
  --text-preset-2: 500 16px/150% "Inter", sans-serif;
  --text-preset-3: 500 14px/150% "Inter", sans-serif;
  --text-preset-3-bold: 800 14px/150% "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100vw;
  min-width: 375px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
