body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  padding: 1em;
  color: var(--White);
  text-align: center;
  background-color: var(--Grey-900);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: clamp(300px, 40vw, 385px) ;
  min-height: 610px;
  border-radius: 10px;
  padding: 2.5em;
  background-color: var(--Grey-800);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.profile p:last-child {
  margin-top: 1.5em;
}

.avatar {
  width: auto;
  height: 6em;
  border-radius: 100%;
}

.profile__name {
  font-weight: 700;
  font-size: 24px;
}

.profile__location {
  color: var(--Green);
}

.links-container {
  width: 100%;
}

.links__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}

.links__list-item {
  border-radius: 10px;
  background-color: var(--Grey-700);
}

.link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 18px 0;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: var(--Grey-900);
  background-color: var(--Green);
}




